@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";




/* DaisyUI plugin */
@plugin "daisyui";

.font-urbanist {
  font-family: "Urbanist", sans-serif !important;
}

@keyframes floatSlow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}
@keyframes floatMedium {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
}
@keyframes floatFast {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.animate-float-slow { animation: floatSlow 6s ease-in-out infinite; }
.animate-float-medium { animation: floatMedium 4s ease-in-out infinite; }
.animate-float-fast { animation: floatFast 3s ease-in-out infinite; }
